.contact{
  min-height: 50%;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contact-feature{
  color: white;
  font-size: 38px;
  font-weight: 600;
  flex: 0.4;
  text-transform: uppercase;
  text-align: center;
  text-align: left;
}

.contact-links-section{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  font-size: 24px;
}

.contact-digital{
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.contact-deco{
  flex: 0.5;
  bottom: 20%;
  left: 72%;
  display: flex;
  justify-content: right;
}

.contact-deco img{
  width: 230px;
}

@media(min-width: 630px){
  .contact-send-button{
    grid-column: 2;
    justify-self: end;
  } 
}

@media (max-width: 630px){
  .contact-form{
    width: 80%;
    max-width: 300px;

    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 20px;
    align-items: center;
    justify-self: center;
  } 
  
  .contact-send-button{
    width: clamp(70px, 40vw, 100px);
  }

  .contact-text{
    font-size: clamp(28px, 10vw, 36px);
  }
}
