.contact{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.contact-text{
  color: rgb(173, 175, 177);
  font-size: 40px;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}

.contact-form{
  width: 80%;
  max-width: 700px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  column-count: auto;
  margin: auto;
  margin-bottom: 20px;
}

input{
  outline: none;
  width: 100%;


  color: rgb(173, 175, 177);
  background-color: rgb(27 27 27);
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

input::placeholder{
  color: rgb(158 158 158);
  font-size: 14px;
}

.contact-send-button{
  justify-self: end;
  background-color: rgb(18 17 17);
  border: 2px solid rgb(158, 158, 158);
  color: rgb(158 158 158);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

button::placeholder{
  color: rgb(158 158 158);
}


@media(min-width: 630px){
  .contact-send-button{
    grid-column: 2;
    justify-self: end;
  } 
}

@media (max-width: 630px){
  .contact-form{
    width: 80%;
    max-width: 300px;

    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 20px;
    align-items: center;
    justify-self: center;
  } 
  
  .contact-send-button{
    width: clamp(70px, 40vw, 100px);
  }

  .contact-text{
    font-size: clamp(28px, 10vw, 36px);
  }
}
