footer{
  background-color: rgb(27 27 27);
  padding-top:10px;
  padding-bottom: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer{
  color: rgb(108 108 108);
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  row-gap: 5px;  
}

.footer-greeting-section{
  color: rgb(147 147 147);
  font-size: clamp(14px, 6vw, 18px);
  text-align: center;
  border-bottom: 2px solid rgb(56 56 56);
  padding-bottom: 5px;
}

.footer p{
  margin: 0;
  text-align: center;
}

@media(max-width: 400px){
  .footer-navigation-section{
    flex-direction: row;
    column-gap: clamp(20px, 10vw, 40px);
    font-size: clamp(11px, 4vw, 16px);
  }

  .footer-quick-links-section, .footer-social-media-section{
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }

  .footer-social-media-icon-links{
    display: none;
  }

  .footer-social-media-text-links{
    display: block;
  }
}