.header{
 
  position: fixed;
  top : 30px;
  left : 0;
  right : 0;
}

.header-inner{
  background-color: antiquewhite;
 
  max-width: 800px;
  margin: 0 auto;

  display : flex;
  align-items: center;
  padding : 13px 32px;
}

.left-section, .right-section{
  flex : 1;

  display: flex;
  align-items: center;
  
}

.left-section{
  justify-content: flex-start;
}

.right-section{
  justify-content: flex-end;
}

.middle-section{
  flex : 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


