.header{
 
  position: fixed;
  top : 30px;
  left : 0;
  right : 0;
}

.header-inner{
  background-color: transparent;
  border: 1px white solid;
  border-radius: 100px;
 
  max-width: 700px;
  margin: 0 auto;

  display : flex;
  align-items: center;
  padding : 10px 32px;
}

.left-section, .right-section{
  flex : 1;

  display: flex;
  align-items: center;
  
}

.left-section{
  justify-content: flex-start;
}

.right-section{
  justify-content: flex-end;
}

.right-section-mob{
  display: none; 
}

.middle-section{
  flex : 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 768px){
  .header-inner{
    background-color: transparent;
    border: 1px white solid;
    border-radius: 100px;
  
    max-width: 600px;
    margin: 0 auto;

    display : flex;
    align-items: center;
    padding : 10px 32px;
  }
}


@media (max-width: 480px) {

  .middle-section{
    position: fixed;
    top: 90px;         /* below header */
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    padding: 5px 35px;
    display: none;

  }

  .middle-section.open{
    display: flex;
  }

  .right-section{
    display: none;
  }
  .header-inner{
    display: flex;

    background-color: none;
    border: none;
  }


  .right-section-mob{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ham-logo{
    width: 30px;
  }
}

