.header{
 
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
  z-index: 1000
}

.header-inner{
  background-color: transparent;
  /* opacity: 1;  */
  /* margin: 0 auto; */

  display : flex;
  align-items: center;
  padding : 10px 50px;
}

.left-section{
  flex : 1;
  display: flex;
  align-items: center;
  
}

.left-section{
  justify-self: left;
  font-size: 18px;
  font-weight: 700;
  
  background: linear-gradient(
    to right,
    rgb(80,160,255),
    rgb(0,120,230),
    rgb(51, 0, 160)
  );  
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}


.github-logo{
  width: 32px;
  cursor: pointer;
}

.right-section-mob{
  display: none; 
}

.middle-section{
  flex : 3;

  display: flex;
  align-items: center;
  justify-content: right;
  gap: 40px;
}


@media (max-width: 655px) {

  .header-inner{
    padding:  20px clamp(6px, 4vw, 30px);
  }

  .middle-section{
    position: fixed;
    top: 60px;         /* below header */
    left: 0;
    right: 0;

    font-size: clamp(14px, 4vw, 16px);
    padding:  0 clamp(6px, 4vw, 30px);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;


    display: none;

  }
  
  .left-section{
    font-size: clamp(12px, 7vw, 20px);
  }
  .middle-section.open{
    display: flex;
  }

  .right-section-mob{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ham-logo{
    width: clamp(20px, 8vw, 30px);
    cursor: pointer;
  }
}