html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  background-color: rgb(245, 245, 246);
  background-color: black;
  
  font-family:  poppins;
  color:white;
}

*{
  box-sizing: border-box;
}

main{
  padding-top: 120px;
}

section{
  padding: 80px 0;
  border: 1px gray solid;
}



