html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  background-color: rgb(245, 245, 246);
  /* background-color: black; */
  
  font-family:  poppins;
  color:white;
}

*{
  box-sizing: border-box;
}

main{
  padding-top: 120px;
}

section{
  padding: 80px 0;
  border: 1px gray solid;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.left-arrow, .right-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: clamp(22px, 2vw, 38px);
  height: clamp(22px, 2vw, 38px);
  border-radius: clamp(54px, 3vw, 90px);
 
}

.img-left-arrow ,.img-right-arrow{
  width: clamp(24px, 2vw, 40px);
  cursor: pointer;
}

.viewport{
  width: 100%;
  max-width: 900px;
  display: flex;
}

.project-card{
  width: clamp(300px, 70vw, 400px);
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

.project-card-2{
  background-color: aqua;
}


.role-center {
  transform: translate(-50%, -50%) translateX(0) scale(1);
  opacity: 1;
  z-index: 3;
}

.role-left {
  transform: translate(-50%, -50%) translateX(-180px) scale(0.85);
  opacity: 0.6;
  z-index: 2;
}

.role-right {
  transform: translate(-50%, -50%) translateX(180px) scale(0.85);
  opacity: 0.6;
  z-index: 2;
}

.role-hidden {
  transform: translate(-50%, -50%) translateX(360px) scale(0.7);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}