.project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.left-arrow, .right-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: clamp(22px, 2vw, 38px);
  height: clamp(22px, 2vw, 38px);
  border-radius: clamp(54px, 3vw, 90px);
 
}

.img-left-arrow ,.img-right-arrow{
  width: clamp(24px, 2vw, 40px);
  cursor: pointer;
}

.viewport{
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;

  /* position: relative; */
  /* make the child conatiner position related to the viewport or parent */
  /* using relative only, page feels like it is still there even if it is moved */
}

.project-card-container{
  /* make the child position according to the container */
  /* dont reserve space on page rather floats */
  position: absolute;
  top: 50%;
  left: 50%;
}

.project-card{
  width: clamp(100px, 50vw, 300px);
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);  

}

.project-card-2{
  background-color: aqua;
}

.role-center {
  transform: translate(-150px, -10px) scale(1);
  opacity: 1;
  z-index: 3;
  
}

.role-left {
  transform:  translate(-140px, -10px) translateX(-250px) scale(0.85);
  opacity: 0.6;
  z-index: 2;
}

.role-right {
  transform: translate(-160px, -10px) translateX(250px) scale(0.85);
  opacity: 0.6;
  z-index: 2;
}

.role-hidden {
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}