.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    row-gap: 50px;
   
}

.skills-feature-section{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.skills-card{
  /* background-color: rgba(0, 119, 230, 0.537); */
  display: flex;
  /* width: 0%; */

  column-gap: 40px;
  row-gap: 40px;
  columns: 4;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: flex-start;
  color: rgb(198, 198, 198);

  
  /* padding: 20px 20px; */
}

.domain-card{
  width: 80%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  
  background: rgba(36, 35, 35, 0.249);  width: 90%;
  border-radius: clamp(2px, 4vw, 10px);
  border: 2px rgb(62, 60, 60) solid;
  color: rgb(198, 198, 198);
  padding: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

.domain-tech-section{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;

}

.domain-tech-section div{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 32px;
  cursor: pointer;

  /* padding-top: 1px */
}

.domain-tech-icon{
  border-radius: 100px;
  border: 2px solid rgb(158 158 158);
  width: 30px;
}


@media (max-width: 630px) {
  .skills-card{
  /* background-color: rgba(0, 119, 230, 0.537); */
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  /* padding: 20px 20px; */
}

}