.skills{
  justify-items: center;
}

.domain-section{
  display: flex;
  column-gap: 20px;
  background-color: antiquewhite;

  justify-content: center;
  align-items: flex-start;

  padding: 20px 20px;
}

.domain-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

/* .domain-section:first-of-type{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
} */

/* .domain-section:not(:first-of-type):not(:last-of-type){
  border-radius: 100px;
} */

/* .domain-section:last-of-type{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
} 
the above one works too  
*/
/* below one is multiple class select css property */
.domain-section.top{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.domain-section.bottom{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
/* .backend-section{
  display: flex;
  column-gap: 20px;
  background-color: antiquewhite;

  justify-content: center;
  align-items: flex-start;

  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}



.language-section{
  display: flex;
  column-gap: 20px;
  background-color: antiquewhite;

  justify-content: center;
  align-items: flex-start;

  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
} */

.skill-icon{
  width: 80px;
}